  //生成海报图片
.generate-images-set-meal {
  width: 544px;
  height: auto;
  position absolute;
  z-index: 100;
  top: 0;
  left 0;
}
  .poster-box {
    width: 544px;
    height 880px;
    position absolute;
    z-index: -100;
    top: 0;
    left 0;
    background: rgba(255, 255, 255, 1);

    //头部tltle图片
    .taro-img {
       width: 100%;
       height auto;
      img {
        height:auto;
      }
    }

    .main {
      margin-top: 12px;
      margin-bottom: 28px;

      .gift-img {
        text-align: center;
        height: 507px;
        padding 0 26px;
        position: relative;

        .gift-image {//主图
          height 100%;
        }

        .give-gift {
          position: absolute;
          bottom: 20px;
          right: 40px;
          width: 192px;
          height: 208px;
          background: #EE2633;
          border-radius: 20px 21px;
          padding-bottom: 6px;

          .give-gift-first-line {
            padding: 12px 0px;
            font-size: 28px;
            font-family: PingFang SC;
            font-weight: 800;
            color: rgba(255, 255, 255, 1);
          }

          .give-gift-second-line {
            padding: 0px 12px;
            position: relative;

            .taro-img {//礼品图
              width: 170px;
              height: 136px;
              border-radius: 0px 0px 10px 10px;
            }
            
            img {
              width: 170px;
              height: 136px;
              border-radius: 0px 0px 10px 10px;
            }

            .test {
              position: absolute;
              top: 1px;
              left: 13px;
              border-radius: 0px;
            }

            .giving {
              position: absolute;
              right: 12px;
              top: 10px;
              width: 49px;
              height: 49px;
              line-height: 49px;
              text-align: center;
              background: linear-gradient(0deg, rgba(243, 94, 4, 1) 0%, rgba(255, 163, 58, 1) 100%);
              box-shadow: 0px 8px 7px 0px rgba(6, 0, 1, 0.08);
              border-radius: 50%;
              font-size: 28px;
              font-family: PingFang SC;
              font-weight: bold;
              color: rgba(255, 255, 255, 1);
            }

            .price-set-meal {
              position: absolute;
              left: 15px;
              bottom: 15px;
              font-size: 26px;
              font-family: PingFang SC;
              font-weight: 800;
              display: inline-block;
              width: 165px;
            }
          }
        }

      }
    }

  }


.project-info-set-meal {
  display: flex;
  border: 1px solid rgba(226, 226, 226, 1);
  margin: 0 26px;
  padding: 0px 21px 15px 21px;
  border-top: none;

  .group-number {
    margin-bottom: 10px;
    font-size: 22px;
    font-family: PingFang SC;
    font-weight: bold;
    color: rgba(0, 0, 0, 1);

    text {
      font-size: 18px;
      padding: 1px 5px;
      font-weight: normal;
      color: rgba(238, 38, 51, 1);
      border: 1px solid rgba(238, 38, 51, 1);
      border-radius: 13px;
    }
  }

  .info-left {
    flex: 1.8;
    padding-top: 10px;

    .info-left-first-line {
      font-size: 15px;
      font-family: PingFang SC;
      font-weight: bold;
      color: rgba(238, 38, 51, 1);

      .font {
        font-size: 36px;
      }
    }
    .info-left-second-line {
      margin-bottom 3px
      display: flex;
      align-items: flex-end;
      .font {
        padding 0 5px;
        font-size: 15px;
        color: rgba(238, 38, 51, 1);
        border:1px solid rgba(238,38,51,1);
        border-radius:15px;
      }
    }

    .info-left-third-line {
      // height: 60px;
      padding-top 5px;
      height 55px;
      font-size: 22px;
      font-family: PingFang SC;
      font-weight: bold;
      line-height 28px;
      color: rgba(0, 0, 0, 1);
      overflow: hidden;
    }

    .info-left-fourth-line,
    .info-left-fifth-line{
      font-size: 16px;
      font-family: PingFang SC;
      font-weight: bold;
      color: rgba(179, 179, 179, 1);

      .text {
        text-align: left;
        width: 300px;
        overflow: hidden;
      }
    }

  }

  .info-right-set-meal {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left 15px;
    margin-top 40px;

  .info-right-first-line {
    margin-top -8px;
    height 142px;
    width 142px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #F7F7F7;
    border-radius: 4px;
    margin-bottom 8px;
    .qr-code {
      width: 122px;
      height 122px;
    }
  }
  .info-right-second-line {
      font-size: 14px;
      font-family: PingFang SC;
      font-weight: bold;
      color: rgba(85, 85, 85, 1);
    }
  }
}

.set-meal-ql {
  position relative;
  width: 544px;
  height 880px;
}



