.city-selecter {
    width: 100%;
    height: 100%;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    position: relative;
    // padding-top: 25vh;
    padding-left: 24px;
    box-sizing: border-box;

    .city-selecter-fixed {
        position: fixed;
        top: 25vh;
        left: 0;
        height: 25vh;
        width: 100%;
        background: #fff;
        z-index: 6;

        .city-selecter-title-box {
            height: 110px;
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
            align-items: center;
            position: relative;
            padding: 0 44px;
            box-sizing: border-box;

            .city-selecter-title {
                width: 200px;
                height: 30px;
                color: #666666;
                font-weight: bold;
                line-height: 1;
                position: absolute;
                left: 50%;
                top: 50%;
                margin-top: -15px;
                margin-left: -100px;
            }

            .city-selecter-close {
                width: 40px;
                height: 40px;
                color: #5f666c;

            }
        }



        .city-selecter-box-selectInfo {
            width: 100%;
            height: 85px;
            box-sizing: border-box;
            padding: 0 44px;

            .city-selecter-shentitle,
            .city-selecter-shititle,
            .city-selecter-qutitle {
                height: 100%;
                min-width: 90px;
                width: auto;
                color: #000;
                font-weight: bold;
                display: inline-block;
                float: left;
                margin-right: 15px;
                font-size: 30px;
                text-align: center;
                box-sizing: border-box;
                border-bottom: 5px solid #ff2514;
            }
        }



        .city-notice {
            height: 110px;
            width: 100%;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-items: flex-start;
            padding-left: 24px;

            .city-notice-info {
                line-height: 1;
                font-size: 30px;
                color: #999999;
                text-align: left;
            }

        }

    }

    .map-info {
        height: 105px;
        width: 90%;
        text-align: left;
        font-weight: bold;
        font-size: 30px;
    }

}