.bulletin-box
    width 100%
    height 55px
    background: #ffffff
    border-radius: 28px
    display: flex
    align-items: center
    padding: 0 24px
    box-sizing: border-box
    margin: 16px 0
    .bulletin-text
        height 30px
        display: flex
        align-items: center
        font-size: 24px
        color: #999999
        .bulletin-img
            width 126px
            height 30px
            margin-right: 24px
    .bulletin
    flex: 1
    height 100%
    margin-left: 24px
    .bulletin-item
        width 100%
        height 55px
        display: flex
        align-items: center
        justify-content: space-between
        .right-icon
            width 30px
            height 30px