
  .img-ticket-buy {
    width: 544px;
    height: auto;
    position absolute;
    z-index: 100;
    top: 0;
    left 0;
  }

  .poster-ticket-buy {
    width: 544px;
    height 854px;
    background: rgba(255, 255, 255, 1);
    position absolute;
    z-index: -100;
    top: 0;
    left 0;
  }

   .taro-img {
      width: 100%;
      height auto;
      img {
        height:auto;
      }
    }
    

  .main {
    margin-top: 12px;
    margin-bottom: 28px;

    .gift_img {
      margin: 0px 26px;
      display: flex;
      flex-direction: column;
      align-items: center;
      height: 507px;
      text-align: center;
      background-color: red;

      .gift-img-first-line {
        padding-top 68px;
          .taro-img {
            height 30px;
            width 143px;
          }
          .login-img {
            display: flex;
            justify-content: center;
          }
        
        .max_money {
          font-size:42px;
          font-family:PingFang SC;
          font-weight:800;
          color:rgba(255,255,255,1);
        }
      }
      .gift-img-second-line {
        .taro-img {
          height: 48px;
          width: 404px;
        }
        
      }


    .gift-img-third-line {
        display: flex;
        align-items: center;
        width 395px;
        height 140px;
        background: url("https://oss.tdianyi.com/front/BAHcaGjG55b68wnR3HfNQF6eDz7StdXz.png");
        background-size: contain;
        background-repeat: no-repeat;
        .small-box {
          display: flex;
          justify-content: space-between;
          align-items: center;
          width 300px;
          .price-box {
            .symbol {
              margin-left 5px;
              font-size:17px;
              font-family:PingFang SC;
              font-weight:500;
              color:rgba(195,36,41,1);
            }
            .price {
              font-size:43px;
              font-family:Adobe Heiti Std;
              font-weight:normal;
              color:rgba(195,36,41,1);
            }
          }
        }
        

        .doorsill-box {
          display: flex;
          flex-direction:column;
          align-items: center;
          width: 120px;
          .type {
            display: inline-block;
            width: 120px;
            text-align: center;
            font-size:19px;
            font-family:PingFang SC;
            font-weight:800;
            color:rgba(195,36,41,1);
          }
          .doorsill {
            display: inline-block;
            width: 120px;
            text-align: center;
            font-size:14px;
            font-family:PingFang SC;
            font-weight:800;
            color:rgba(195,36,41,1);
          }
        }

      }


    }

    .gift-img-fourth-line {
      margin-top 38px;
      display: flex;
      justify-content: center;
      align-items: center;
      width:360px;
      height:33px;
      font-size:17px;
      font-family:PingFang SC;
      font-weight:500;
      color:rgba(255,255,255,1);
      border:1px solid rgba(255,255,255,1);
    }

  }



.info-ticket-buy {
  margin: 0 26px;
  padding-top 21px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid rgba(226, 226, 226, 1);
}

.gift_box {
  position: relative;
  display: flex;
  width: 350px;
  background: rgba(255, 255, 255, 1);
  border-radius: 20px;
  border: 2px solid #F5F2F5;

  .left {
    width: 121px;
    height: 112px;
    .taro-img {
      width: 120px;
      height: 112px;
    }
  }


  .right-ticket-buy {
    padding-left: 5px;

    .price {
      color: rgba(238, 38, 51, 1);
    }

    .right-first-line {
      margin-bottom: 28px;
      font-size: 22px;
      font-family: PingFang SC;
      font-weight: bold;
      color: rgba(0, 0, 0, 1);
    }

    view {
      font-size: 16px;
      font-family: PingFang SC;
      font-weight: bold;

      text {
        font-size: 28px;
      }
    }

  }
}



.project_info {
  display: flex;
  justify-content: space-between;
  padding-bottom 5px;
  width: 440px;
  border-top: none;

  .info_left {
    .info-left-first-line {
      font-size:14px;
      font-family:PingFang SC;
      color:rgba(238,38,51,1);
      .active_money {
        font-size:36px;
        font-family:PingFang SC;
        font-weight:bold;
        color:rgba(238,38,51,1);
      }
    }
    .info-left-second-line {
      width: 100%;
      height 46px;
      margin-bottom 18px;
      font-size:22px;
      font-family:PingFang SC;
      font-weight:bold;
      color:rgba(0,0,0,1);
    }
    .info-left-third-line {
      width: 100%;
      font-size:14px;
      line-height 28px;
      font-family:PingFang SC;
      font-weight:bold;
      color:rgba(179,179,179,1);
    }
    .info-left-fourth-line {
      width: 100%;
      font-size:14px;
      font-family:PingFang SC;
      font-weight:bold;
      color:rgba(179,179,179,1);
    }
    .text {
      width: 300px;
      overflow: hidden;
    }

  }

  .info-right-ticket-buy {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left 15px;
    margin-top 3px;

  .info-right-first-line {
    margin-top -8px;
    height 142px;
    width 142px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #F7F7F7;
    border-radius: 4px;
    margin-bottom 8px;
    .qr-code {
      width: 122px;
      height 122px;
    }
  }
  .info-right-second-line {
      font-size: 14px;
      font-family: PingFang SC;
      font-weight: bold;
      color: rgba(85, 85, 85, 1);
    }
  }
  
}

.user_button {
  text-align: center;
  font-size: 36px;
  font-family: PingFang SC;
  font-weight: 500;
  color: rgba(255, 255, 255, 1);
}


.giving {
  position: absolute;
  right: 12px;
  bottom: 20px;
  width: 53px;
  height: 53px;
  line-height: 53px;
  text-align: center;
  background: linear-gradient(0deg, rgba(243, 94, 4, 1) 0%, rgba(255, 163, 58, 1) 100%);
  box-shadow: 0px 8px 7px 0px rgba(6, 0, 1, 0.08);
  border-radius: 50%;
  font-size: 28px;
  font-family: PingFang SC;
  font-weight: bold;
  color: rgba(255, 255, 255, 1);
}

.ticket-buy-ql {
  position relative;
  width: 544px;
  height 854px;
}
