
.version_two {
  .show_box {
    padding-left 28px;
    margin-left 14px
    margin-right:14px
    padding :31px 24px 34px 28px ;
    background: linear-gradient(#fadc90 ,#feb577)
    box-shadow:0px 3px 10px 1px rgba(0, 0, 0, 0.15);
    border-radius:15px;
    .no_border{
      border:none;
    }
    .title_top {
      display:flex;
      justify-content:space-between;
      color:#7C4310;
      font-size: 32px;
      font-weight:bold;
      font-family: PingFang-SC-Bold;
      margin-bottom 13px;
      .into {
        .taro-img {
          height:50px;
          width:50px;
        }
      }
    }
  }

  // 控制优秀商家
  .distance_activity {
      display: flex;
      justify-content: space-between;
      margin-bottom 19px
      .distance_list{
        display: flex;
        .distance {
        display:flex;
        justify-content:center;
        align-items: center;
        width:98px;
        height:35px;
        margin-right:9px;
        font-size:18px;
        font-family:PingFang-SC-Medium;
        font-weight:500;
        color:rgba(251,215,141,1);
        background:rgba(239,48,28,1);
        border-radius:5px;
      }
    }
    .activity_two{
      color: #B44C21;
      font-size: 24px;
    }
  }

  .img_box {
    display: flex;
    .taro-img {
      width 218px
      height 177px
      border-radius:10px;
      box-shadow:0px 3px 5px 0px rgba(0, 0, 0, 0.2);
    }
    .img {
      margin 0 11px
    }
  }
  .center {
    display:flex;
    justify-content:center;
    align-items: center;
  }
}
