.screen-filter
  background: #fff
  >.item
    height 80px

.merchant-list
  width 100%
.new_box {
  display: flex;
  width: 100%;
  justify-content: center;
  margin-top 20px
  .box {
    width:87vw;
    background:rgba(255,255,255,1);
    border-radius:20px;
    padding-top: 34px;
    padding-left 27px
    padding-right 28px
  }
  .box_bottom {
    // margin-bottom -1px
  }
}

.box_title {
  display: flex;
  .title_l {
    width:153px;
    height:152px;
    margin-right 19px;
  .taro-img {
    width:153px;
    height:152px;
    }
  }
  .title_r{
    flex: 1;
    position:relative;
    overflow: hidden;
  .title_r_name{
    font-size:32px;
    font-family:PingFang-SC-Bold;
    color:rgba(49,49,49,1);
    font-weight: bold;
    line-height: 1.3;
  }
  .title_r_distance{
    font-family:PingFang-SC-Medium;
    color:rgba(102,102,102,1);
    font-size: 23px;
    display: flex;
    justify-content: space-between;
    margin-top 8px
  }
  .title_r_gift{
    margin-top 31px;
    img {
      width:98px;
      height 35px
      margin-right 8px
      }
    }
  }
}
.box_bottom{
  ._child {
    font-size: 23px;
    display: flex
    color:rgba(49,49,49,1);
    font-family:PingFang-SC-Regular
    padding-bottom 25px
    padding-top:25px
    line-height: 1
    border-bottom:0.5px solid #eeeeee
  div {
   line-height: 1.3
  }
  .taro-img {
    width: 32px;
    height 27px;
    margin-right: 15px;
    }
  }
  .single_omit {
   width: 8rem;
  }
}

.span_center {
  display:flex;
  flex-direction:column;
  justify-content:center;
}
