.page {
  background-color:#fff;
  .title {
    display:flex;
    overflow:hidden;
    justify-content: space-around;
    position: relative;
    z-index: 160;
    background-color:#fff;
    .line {
      text-align: center;
      width:30%;
      padding: 8px 0px;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      .title__select_img{
        height: 24px;
        width: 24px;
        padding-left: 12px;
      }
    }
    .linRed {
      color: red;
    }
    .linWat {
      color:'#666666'
    }
  }

  .lists {
    display:flex;
    justify-content:space-between;
    padding:15px 30px 15px 80px;
    border-bottom:1px solid #ededed;
  }
  .mt-5{
    margin-top :-18px;
  }
  .myPositing {
    // display: flex;
    width: 100%;
    // position:absolute;
    position: relative;
    background-color:#fff;
    height: 30px;
    overflow: hidden;
    visibility: hidden;
  }
  .rising {
    height: auto;
    z-index: 3;
    overflow: auto;
    visibility: visible;
  }

  .falling {
    z-index: -6;
    height: 0px;
  }
}

.page_bottom {
  position: fixed;
  z-index: 2;
  background-color:rgba(0,0,0,.1) ;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

