.show_box_one {
	border-radius:50px;
	margin-left 14px
	margin-right:14px
  padding :31px 24px 0px 28px ;
  background: linear-gradient(#fadc90 ,#feb577)
  box-shadow:0px 3px 10px 1px rgba(0, 0, 0, 0.15);
	.no_border{
		border:none;
	}
	.title_top {
		display:flex;
		justify-content:space-between;
		color:#7C4310;
		font-size: 32px;
		font-weight:bold;
		font-family: PingFang-SC-Bold;
		margin-bottom 13px;
		.into {
			.taro-img {
				height:50px;
				width:50px;
			}
		}
	}
}

// 控制优秀商家
.distance_activity {
		display: flex;
		justify-content: space-between;
		margin-bottom 19px
		.distance_list{
			display: flex;
			.distance {
			// display:flex;
			// justify-content:center;
			// align-items: center;
      text-align: center;
      line-height: 35px;
			width:98px;
			height:35px;
			margin-right:9px;
			font-size:18px;
			font-family:PingFang-SC-Medium;
			font-weight:500;
			color:rgba(251,215,141,1);
			background:rgba(239,48,28,1);
			border-radius:5px;
		}
	}
	.activity_two{
		color: #B44C21;
		font-size: 24px;
	}
}

// 控制两个图片
.show_img_box{
	display: flex;
	justify-content: space-between;
	.img_left{
		border-radius:10px;
		.taro-img {
			width:328px;
			height:177px;
			border-radius:10px;
			box-shadow:0px 3px 5px 0px rgba(0, 0, 0, 0.2);
		}
	}
	.img_right{
		position relative
		.taro-img {
			width:328px;
			height:177px
			box-shadow:0px 3px 5px 0px rgba(0, 0, 0, 0.2);
		}
		.lin_img {
			height 21px;
			position absolute;
			top:0px;
			left:0px;
		}
		.lin_two_img{
			position absolute;
			top:-7%;
			left:42%;
			height 41px
			width 41px
		}
		.img {
			 border-radius:10px;
		}
	}
}

// 优惠卷三行
.coupons{
	display: flex;
	justify-content: flex-start
	align-items: center;
	padding-bottom 19px
	padding-top: 24px
	border-bottom: 1px solid #ecb479
	.gift_title {
		background-color: #D97B0B;
		color:#FFFFFF;
		font-size: 19px;
		width:32px;
		height:27px;
	}
	.vouchers{
		background-color: #5D84E0;
		color:#FFFFFF;
		font-size: 19px;
		width:32px;
		height:27px;
	}
	.preferential{
		background-color: #5DD8A5;
		color:#FFFFFF;
		font-size: 19px;
		width:32px;
		height:27px;
	}
	.content {
		font-size: 24px;
		color: #313131;
		padding 0
		margin-left 15px
	}
	.ellipsis-one {
		overflow:hidden;
		white-space: nowrap;
		text-overflow: ellipsis;
	}
}

.center {
	display:flex;
	justify-content:center;
	align-items: center;
}
