.show_box_one {
	border-radius:50px;
	margin-left 14px
	margin-right:14px
  padding :31px 24px 0px 28px ;
  background: linear-gradient(#fadc90 ,#feb577)
  box-shadow:0px 3px 10px 1px rgba(0, 0, 0, 0.15);
	.no_border{
		border:none;
	}
	.title_top {
		display:flex;
		justify-content:space-between;
		color:#7C4310;
		font-size: 32px;
		font-weight:bold;
		font-family: PingFang-SC-Bold;
		margin-bottom 13px;
		.into {
			.taro-img {
				height:50px;
				width:50px;
			}
		}
	}
}

// 控制优秀商家
.distance_activity {
		display: flex;
		justify-content: space-between;
		margin-bottom 19px
		.distance_list{
			display: flex;
			.distance {
        height: 35px;
        font-size: 17px;
        color: #FBD78D;
        background: #EF301C;
        text-align: center;
        line-height: 35px;
        margin-right: 10px;
        padding: 0 12px;
        border-radius: 5px;
		}
	}
	.activity_two{
		color: #B44C21;
		font-size: 24px;
	}
}

// 控制两个图片
.show_img_box{
	display: flex;
	justify-content: space-between;
	.img_left{
		border-radius:10px;
		.taro-img {
			width:328px;
			height:177px;
			border-radius:10px;
			box-shadow:0px 3px 5px 0px rgba(0, 0, 0, 0.2);
		}
	}
	.img_right{
		position relative
		.taro-img {
			width:328px;
			height:177px
			box-shadow:0px 3px 5px 0px rgba(0, 0, 0, 0.2);
		}
		.lin_img {
			height 21px;
			position absolute;
			top:0px;
			left:0px;
		}
		.lin_two_img{
			position absolute;
			top:-7%;
			left:42%;
			height 41px
			width 41px
		}
		.img {
			 border-radius:10px;
		}
	}
}

// 优惠卷三行
.coupons{
	display: flex;
	justify-content: flex-start
	align-items: center;
	padding-bottom 19px
	padding-top: 24px
	border-bottom: 1px solid #ecb479
	.gift_title {
		background-color: #D97B0B;
		color:#FFFFFF;
		font-size: 19px;
		width:32px;
		height:27px;
	}
	.vouchers{
		background-color: #5D84E0;
		color:#FFFFFF;
		font-size: 19px;
		width:32px;
		height:27px;
	}
	.preferential{
		background-color: #5DD8A5;
		color:#FFFFFF;
		font-size: 19px;
		width:32px;
		height:27px;
	}
	.content {
		font-size: 24px;
		color: #313131;
		padding 0
		margin-left 15px
	}
	.ellipsis-one {
		overflow:hidden;
		white-space: nowrap;
		text-overflow: ellipsis;
	}
}

.center {
	display:flex;
	justify-content:center;
	align-items: center;
}

.new_box {
  display: flex;
  width: 100%;
  justify-content: center;
  margin-top 20px
  .box_two {
    width:87vw;
    background:linear-gradient(#fadc90 ,#feb577);
    border-radius:20px;
    padding-top: 34px;
    padding-left 27px
    padding-right 28px
  }
}

.box_title {
  display: flex;
  .title_l {
    width:153px;
    height:152px;
    margin-right 19px;
    .taro-img {
      height 100%
      width 100%
    }
  }
  .title_r_two{
    flex: 1;
   div:nth-child(1){
      font-size:32px;
      font-family:PingFang-SC-Bold;
			color:#7C4310;
      line-height:1;
      margin-bottom 19px
      font-weight: bold;
    }
    div:nth-child(2){
      font-family:PingFang-SC-Medium;
			color:#7C4310;
      font-size: 23px;
      display: flex;
      justify-content: space-between;
      margin-bottom 28px;
    }
    .title_r_gift{
      margin-top 31px;
      img {
      width:98px;
      height 35px
      margin-right 8px
      }
    }
  }
}
// .box_bottom_two{
//   div {
//     font-size: 23px;
//     display: flex
//     color:rgba(49,49,49,1);
//     font-family:PingFang-SC-Regular
//     padding-bottom 25px
//     padding-top:25px
//     line-height: 1
//     display: flex;
// 		border-bottom:0.5px solid #f0b068;
//     div {
//       padding-top 0;
//       padding-bottom 0
//       border: 0;
//       line-height 1.1
//     }
//     .taro-img {
//        width: 32px;
//        height 27px;
//        margin-right: 15px;
//     }
// 		img {
// 			width: 32px;
// 		height 27px;
// 		margin-right: 15px;
// 		}
//   }
// }

.box_bottom_two{
  ._child_two {
    font-size: 23px;
    display: flex
    color:rgba(49,49,49,1);
    font-family:PingFang-SC-Regular
    padding-bottom 25px
    padding-top:25px
    line-height: 1
    border-bottom:0.5px solid #f0b068
  div {
   line-height: 1.3
  }
  .taro-img {
    width: 32px;
    height 27px;
    margin-right: 15px;
    }
  }
  .single_omit {
   width: 8rem;
  }
}

.span_center {
  display:flex;
  flex-direction:column;
  justify-content:center;
}



